.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}

.singlePostImg{
    margin-left: 250px;
    width: 1000px;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
}

.singlePostInfo{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}

/* .singlePostDesc{
    color: #666;
    font-size: 12px;
    line-height: 25px;
} */

.singlePostDesc{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}