.loginBackground {
    background-image: url(../images/3801184.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    min-height : 100vh;
    
  }   
  
  
  form {
    padding-top: 15%;
    padding-left: 30%;
    padding-right: 30%;
  }
  
  label {
    color: black;
    font-weight: bold;
    width: 150px;
    float: left;
    font-size: 25px;
    }