.map {
    flex: 4;
}

.leaflet-container{
    height: 100%;
    width: 100%;
}

.mapSubmitButton{
    margin-left: 1100px;
    width: 100px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: green;
    cursor: pointer;
}